<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Bliss+</title>
	<link href="/node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
	<link href="~/css/site.css" rel="stylesheet" />
	@RenderSection("CSS", false);
</head>
<body>
	<nav class="navbar navbar-expand-lg">
		<a class="navbar-brand" title="Bliss+" asp-controller="Home" asp-action="Index">
			<img class="img-fluid logo" src="~/images/logo.png" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active">
					<a class="nav-link" href="#">Главная</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Программы</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Преимущества</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Галерея</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Контакты</a>
				</li>
			</ul>
	</div>
	</nav>
	@RenderBody();
	<script src="/node_modules/jquery/dist/jquery.js"></script>
	<script src="/node_modules/bootstrap/dist/js/bootstrap.js"></script>
	@RenderSection("Scripts", false);
</body>
</html>